<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <context-param>
    <param-name>databaseURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/fPortal?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dBUsername</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dBPassword</param-name>
    <param-value></param-value>
  </context-param>
  <servlet-mapping>
  	<servlet-name> default </servlet-name>
  	<url-pattern>*.css</url-pattern>
  </servlet-mapping>
</web-app>